.ecran {
	height: 100%;
	padding: 48px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.texte {
	max-width: 70%;
	opacity: 0.85;
}
